<footer class="weui-footer_fixed-bottom">
	<div class="weui-tabbar">
		<a href="{{ site.baseurl }}/index.html" class="weui-tabbar__item {% if page.url contains 'index' %}weui-bar__item_on{% endif %}">
			<text class="iconfont icon-home"></text>
			<p class="weui-tabbar__label">首页</p>
		</a>

		<a href="{{ site.baseurl }}/pages/items.html" class="weui-tabbar__item {% if page.url contains 'items' %}weui-bar__item_on{% endif %}">
			<text class="iconfont icon-goods {% if page.url contains 'items' %}success{% endif %}"></text>
			<p class="weui-tabbar__label">商品</p>
		</a>

		<a href="#" class="weui-tabbar__item">
			<text class="iconfont icon-scan"></text>
			<p class="weui-tabbar__label">扫码</p>
		</a>

		<a href="{{ site.baseurl }}/pages/cart/cart-list.html" class="weui-tabbar__item {% if page.url contains 'cart' %}weui-bar__item_on{% endif %}">
			<span style="display: inline-block; position: relative;">
				<text class="iconfont icon-cart {% if page.url contains 'cart' %}success{% endif %}"></text>
				<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">2</span>
			</span>
			<p class="weui-tabbar__label">购物车</p>
		</a>

		<a href="{{ site.baseurl }}/pages/me/index.html" class="weui-tabbar__item {% if page.url contains 'me' %}weui-bar__item_on{% endif %}">
			<span style="display: inline-block;position: relative;">
				<text class="iconfont icon-my {% if page.url contains 'me' %}success{% endif %}"></text>
				<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
			</span>
			<p class="weui-tabbar__label">我的</p>
		</a>
	</div>
</footer>








<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/feather.min.js"></script>
<script>
feather.replace()
</script>